.single__products {
  margin: 100px 0;

  &__title {
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  img {
    max-width: 60%;
    border-radius: 10px;

    @media (max-width: 500px) {
      max-width: 90%;
    }
  }
}
